.selected-cultivar-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

.selected-cultivar-card {
  width: 256px;
  margin: 10px;
  padding: 0;
}

.header-button {
  min-width: 32px;
  margin: 0;
  padding: 0 12px 0 12px;
  font-size: 18px;
  color: #404040;
}
