.main-box {
  height: 100%;
  overflow-y: hidden;
}

.header-button {
  min-width: 32px;
  margin: 0;
  padding: 0 12px 0 12px;
  font-size: 18px;
}

.header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 64px;
}

.color-white { color: #FFFFFF; }

.color-green-0 { color: #062D00; }
.color-green-1 { color: #0F6B00; }
.color-green-2 { color: #279716; }
.color-green-3 { color: #4FB93F; }
.color-green-4 { color: #97E08C; }

.color-purple-0 { color: #2A001B; }
.color-purple-1 { color: #65003F; }
.color-purple-2 { color: #8E1561; }
.color-purple-3 { color: #AF3B84; }
.color-purple-4 { color: #D886B9; }

.color-brown-0 { color: #361700; }
.color-brown-1 { color: #813700; }
.color-brown-2 { color: #B65D1A; }
.color-brown-3 { color: #E08B4C; }
.color-brown-4 { color: #FFC89F; }

.color-pink-0 { color: #350004; }
.color-pink-1 { color: #7E0009; }
.color-pink-2 { color: #B21A25; }
.color-pink-3 { color: #DA4A54; }
.color-pink-4 { color: #FA9CA3; }


.color-green-0-bg { background: #062D00; }
.color-green-1-bg { background: #0F6B00; }
.color-green-2-bg { background: #279716; }
.color-green-3-bg { background: #4FB93F; }
.color-green-4-bg { background: #97E08C; }

.color-purple-0-bg { background: #2A001B; }
.color-purple-1-bg { background: #65003F; }
.color-purple-2-bg { background: #8E1561; }
.color-purple-3-bg { background: #AF3B84; }
.color-purple-4-bg { background: #D886B9; }

.color-brown-0-bg { background: #361700; }
.color-brown-1-bg { background: #813700; }
.color-brown-2-bg { background: #B65D1A; }
.color-brown-3-bg { background: #E08B4C; }
.color-brown-4-bg { background: #FFC89F; }

.color-pink-0-bg { background: #350004; }
.color-pink-1-bg { background: #7E0009; }
.color-pink-2-bg { background: #B21A25; }
.color-pink-3-bg { background: #DA4A54; }
.color-pink-4-bg { background: #FA9CA3; }
