.catalog-box-outer {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  overflow-y:auto;
}

.catalog-box-inner {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selected-cultivar-box-outer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 8px;
  overflow-y: auto;
  overflow-x: hidden;
}

.selected-cultivar-box-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.catalog-sel-card-menu {
  width: 100%;
  left: 0;
  top: 14px;
}

.catalog-sel-card {
  width: 256px;
  margin: 10px;
  padding: 0;
}

.catalog-sel-card-title {
  padding: 0;
}

.catalog-sel-card-head {
  padding-left:16px;
  padding-top: 16px;
  flex-direction: row;
  justify-content:space-between;
}

.catalog-sel-card-subhead {
  padding-left: 16px;
  font-style: italic;
}

.catalog-list-item-card-text {
  padding-top: 0px;
}

.catalog-type-spacer {
  width:100%;
  margin: 10px 10px 0 10px;
  color: #606060;
}

.catalog-type-spacer-hr {
  margin: 10px 0 2px 0;
}

.catalog-type-spacer-text {
  font-style: italic;
}

.catalog-list-item-card {
  width: 162px;
  margin:8px;
}

.catalog-list-item-card-menu {
  width: 100%;
  left: 0;
  top: 14px;
}

.catalog-list-item-card-media {
  height: 100px;
  width:162px;
}

.catalog-list-item-card-title {
  padding: 8px;
}

.catalog-list-item-card-head {
  font-size: 16px;
}
